:root {
  --color-primary: #77cc25;

  --bg-color: #161616;
  --bg-color--darker: #131313;

  --text-color--primary: var(--color-primary);
  --text-color: #f7f7f7;

  --font-size--base: 11px;
  --font-size--small: 13px;
  --font-size--medium: 18px;
  --font-size--normal: 24px;
  --font-size--large: 32px;
}

@media (--media-width--small) {
  :root {
    --font-size--base: var(--font-size--small);
  }
}

@media (--media-width--medium) {
  :root {
    --font-size--base: var(--font-size--medium);
  }
}

@media (--media-width--normal) {
  :root {
    --font-size--base: var(--font-size--normal);
  }
}

@media (--media-width--large) {
  :root {
    --font-size--base: var(--font-size--large);
  }
}

html {
  font-size: var(--font-size--base);
  text-shadow: 0 0.1rem 0.25rem var(--bg-color--darker);
}

a:not([class]):any-link {
  text-underline-position: under;

  &:hover,
  &:active,
  &:focus {
    text-underline-position: initial;
  }
}

u {
  text-underline-position: under;

  &.u--dashed {
    text-decoration-style: dashed;
  }
}

.primary-color {
  color: var(--color-primary);
}

.primary-font {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  & .h-subtitle {
    color: var(--text-color);
    display: block;
    font-weight: normal;

    & .h-subtitle--addon {
      text-align: right;
    }
  }
}

.emoji {
  display: inline-block;
  font-style: normal;
  text-shadow: none;
}

.emoji-large {
  font-size: 1.25em;
}

.pixelart {
  image-rendering: optimizeSpeed;
}

@media (--media-width--small) {
  .pixelart {
    image-rendering: pixelated;
  }
}

/* from https://css-tricks.com/a-complete-guide-to-links-and-buttons/ */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.rainbow-background {
  animation: rainbow 7s linear infinite;
  background-image: repeating-linear-gradient(
    45deg,
    white,
    violet,
    cyan,
    green,
    yellow,
    orange,
    red,
    violet,
    white
  );
  background-clip: text;
  background-size: 800% 800%;
  color: transparent;
}
