:root {
  --dbg-border--text: "default";
  --dbg-border--orientation-text: "orientation n/a";
  --dbg-border--color: rebeccapurple;
  --dbg-border--width: 5px;
  --dbg-border--text-padding: calc(var(--dbg-border--width) / 2);
  --dbg-border--font-size: 11px;
}

body.debug .page {
  box-shadow: 0 0 0 var(--dbg-border--width) var(--dbg-border--color) inset;
  padding: var(--dbg-border--width);

  &::after,
  &::before {
    background: #000;
    border: var(--dbg-border--text-padding) solid var(--dbg-border--color);
    font-size: var(--dbg-border--font-size);
    font-weight: bold;
    padding: var(--dbg-border--text-padding) var(--dbg-border--width);
    position: fixed;
    top: 0;
  }

  &::before {
    border-left: var(--dbg-border--width) solid var(--dbg-border--color);
    border-right: var(--dbg-border--text-padding) solid var(--dbg-border--color);
    content: var(--dbg-border--orientation-text);
    left: 0;
  }

  &::after {
    border-left: var(--dbg-border--text-padding) solid var(--dbg-border--color);
    border-right: var(--dbg-border--width) solid var(--dbg-border--color);
    content: var(--dbg-border--text);
    right: 0;
  }
}

@media (--media-width--small) {
  :root {
    --dbg-border--text: "small";
    --dbg-border--color: red;
  }
}

@media (--media-width--small) and (--media-height--small) {
  :root {
    --dbg-border--text: "small (+height)";
  }
}

@media (--media-width--medium) {
  :root {
    --dbg-border--text: "medium";
    --dbg-border--color: blue;
  }
}

@media (--media-width--medium) and (--media-height--medium) {
  :root {
    --dbg-border--text: "medium (+height)";
  }
}

@media (--media-width--normal) {
  :root {
    --dbg-border--text: "normal";
    --dbg-border--color: green;
  }
}

@media (--media-width--normal) and (--media-height--normal) {
  :root {
    --dbg-border--text: "normal (+height)";
  }
}

@media (--media-width--large) {
  :root {
    --dbg-border--text: "large";
    --dbg-border--color: yellow;
  }
}

@media (--media-width--large) and (--media-height--large) {
  :root {
    --dbg-border--text: "large (+height)";
  }
}

@media (orientation: landscape) {
  :root {
    --dbg-border--orientation-text: "orientation: landscape";
  }
}

@media (orientation: portrait) {
  :root {
    --dbg-border--orientation-text: "orientation: portrait";
  }
}
