@charset "utf-8";

:root {
  --color-black: #261f1f;
  --color-gray: #b5b5b5;
  --color-grey: var(--color-gray);
  --color-white: #ffffff;
  --color-red: #fa6161;
  --color-red_a11y: #4d0000;

  --color-green: #77cc25;
  --color-green_a11y: #254d00;

  --color-blue: #25ddcc;
  --color-blue_a11y: #004d45;
  --theme-text_color: var(--color-black);
  --theme-background_color: var(--color-white);

  --color-brand_primary: var(--color-green);
  --color-brand_secondary: var(--color-white);
}
