@charset "utf-8";

a {
  text-decoration: solid underline;
  white-space: nowrap;
  text-shadow: initial;
  padding-left: 0.1em;
  padding-right: 0.1em;

  /**
  * states
  */
  &:visited,
  &:hover,
  &:focus,
  &:active {
    text-decoration-style: dotted;
  }

  /**
  * modifiers
  */
  &.inline-block,
  &.block {
    border-radius: 0.25em;
    box-shadow: 0 0 0 0.025em inset;
    text-align: center;
    padding: 0.25em 0.5em;
  }

  &.ghost {
    pointer-events: none;
  }
}
