@charset "utf-8";

p {
  padding: var(--grid-column-gap);
  font-weight: normal;
  font-size: 2em;
  line-height: 1.5;

  @media screen and (min-width: 20rem) {
    padding: var(--grid-column-gap) calc(var(--grid-column-gap) * 2);
  }
}

.glue {
  &\:next {
    --spacing: 1px;

    margin-bottom: var(--spacing);

    & + p {
      margin-top: var(--spacing);
    }
  }
}

.round {
  --radius: 0.3rem;

  border-radius: var(--radius);

  &.glue\:next {
    & + .round {
      border-radius: 0 0 var(--radius) var(--radius);
    }

    border-radius: var(--radius) var(--radius) 0 0;
  }
}
