.m-footer {
  align-self: end;
  color: #777;
  cursor: default;
  grid-area: m-footer;
  text-align: center;
  font-size: var(--font-size--small);
  padding: 0.5rem;
  word-spacing: -0.1rem;

  & span {
    display: inline-block;
  }
}

@media (--media-width--small) {
  .m-footer {
    font-size: var(--font-size--medium);
  }
}
