.bordered {
  border: 7px solid rgba(#77cc25, 0.2);
  box-shadow: 0 0 0 2px #77cc25 inset;
}

.centered {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.color {
  color: var(--color--info);
  background: transparent;

  &\:danger {
    color: var(--color--danger);
  }

  &:warning {
    color: var(--color--warning);
  }

  &:highlight {
    color: var(--color--highlight);
  }

  & * {
    color: inherit;
  }
}
