:root {
  --grid-column-gap: 1rem;

  box-sizing: content-box;
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  overflow-y: scroll;

  font-weight: 900;
  font-size: 1em;
  font-family: "Source Sans Pro", "Tahoma", "Trebuchet MS", sans-serif;
  /* text-transform: lowercase; */
}

body {
  display: flex;
  flex-wrap: wrap;
}

#page {
  position: relative;
  flex-basis: 0;
  flex-grow: 999;
  min-width: 75%;
  /* background: purple; */
}

#page-header {
  background: var(--color-blue_a11y);
}

#page-main {
  /* background: green; */

  @media screen and (max-width: 30rem) {
    font-size: 0.75rem;
  }
}

#page-footer {
  flex-basis: 12rem;
  flex-grow: 1;
  /* background: var(--color-blue_a11y); */
}
