@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-black);
    color: var(--color-gray);
  }

  mark,
  .text\:stamp {
    color: var(--color-black) !important;
    mix-blend-mode: lighten;
  }
}
