:root {
  --bg-color: #161616;
  --bg-color--darker: #131313;

  --text-color--primary: #77cc25;
  --text-color: #f7f7f7;

  --font-size--base: 11px;
  --font-size--small: 13px;
  --font-size--medium: 18px;
  --font-size--normal: 24px;
  --font-size--large: 32px;
}

@media (--media-width--small) {
  :root {
    --font-size--base: var(--font-size--small);
  }
}

@media (--media-width--medium) {
  :root {
    --font-size--base: var(--font-size--medium);
  }
}

@media (--media-width--normal) {
  :root {
    --font-size--base: var(--font-size--normal);
  }
}

@media (--media-width--large) {
  :root {
    --font-size--base: var(--font-size--large);
  }
}

html {
  font-size: var(--font-size--base);
  text-shadow: 0 0.1rem 0.25rem var(--bg-color--darker);
}

a:not([class]):any-link {
  text-underline-position: under;

  &:hover,
  &:active,
  &:focus {
    text-underline-position: initial;
  }
}

u {
  text-underline-position: under;

  &.u--dashed {
    text-decoration-style: dashed;
  }
}

h1,
h2 {
  color: var(--text-color--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  & .h-subtitle {
    color: var(--text-color);
    display: block;
    font-weight: normal;

    & .h-subtitle--addon {
      text-align: right;
    }
  }
}

.emoji-container {
  display: inline-block;
}

.emoji,
.supermoji {
  text-shadow: none;
}

.emoji {
  font-style: normal;
}

.supermoji {
  display: inline-block;
  transform: scale(1.5);
}

.pixelart {
  image-rendering: optimizeSpeed;
}

@media (--media-width--small) {
  .pixelart {
    image-rendering: pixelated;
  }
}

/* from https://css-tricks.com/a-complete-guide-to-links-and-buttons/ */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
