.page {
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr auto;
  height: 100%;
  min-height: 100vh;
}

@media (--media-width--small) {
  .page {
    grid-template-rows: auto auto 1fr auto;
  }
}

@media (--media-width--small) and (--media-height--small) {
  .page {
    grid-template-rows: 1fr auto 1fr auto;
  }
}
