@custom-media --media-width--small (width >= 400px);
@custom-media --media-height--small (height >= 500px);

@custom-media --media-width--medium (width >= 480px);
@custom-media --media-height--medium (height >= 600px);

@custom-media --media-width--normal (width >= 900px);
@custom-media --media-height--normal (height >= 700px);

@custom-media --media-width--large (width >= 1200px);
@custom-media --media-height--large (height >= 800px);

.page {
  display: grid;
  grid-template-areas:
    'm-header'
    'm-profile'
    'm-footer';
  min-height: inherit;
}

@media (--media-width--large) {
  .page {
    grid-template-areas:
      'm-header m-profile'
      'm-footer m-footer';
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr auto;
  }
}
