@import "../assets/fonts/source_sans_pro/source_sans_pro.css";

:root {
  --text-background: #252525;
  --text-color: #b5b5b5;

  --font-size--base: 16px;
  --font-size--step: 9px;

  --font-size--tiny: calc(var(--font-size--base));
  --font-size--small: calc(var(--font-size--base) + var(--font-size--step) * 2);
  --font-size--normal: calc(
    var(--font-size--small) + var(--font-size--step) * 3
  );
  --font-size--medium: calc(
    var(--font-size--normal) + var(--font-size--step) * 4
  );
  --font-size--large: calc(
    var(--font-size--medium) + var(--font-size--step) * 5
  );
  --font-size--larger: calc(
    var(--font-size--large) + var(--font-size--step) * 6
  );
  --font-size--largerst: calc(
    var(--font-size--large) + var(--font-size--step) * 7
  );
}

html {
  font-size: var(--font-size--largest);
}

body {
  background: var(--text-background);
  color: var(--text-color);
  font-family: "Source Sans Pro", "Tahoma", "Trebuchet MS", sans-serif;
  font-weight: 900;
  text-transform: lowercase;

  & > p {
    display: hidden;
  }
}
