:root {
  --_base: 16px;
  --_step: 9px;

  --font-size--tiny: var(--_base);
  --font-size--small: calc(var(--_base) + var(--_step));
  --font-size--normal: calc(var(--_base) + (var(--_step) * 2));
  --font-size--medium: calc(var(--_base) + (var(--_step) * 3));
  --font-size--large: calc(var(--_base) + (var(--_step) * 4));
  --font-size--larger: calc(var(--_base) + (var(--_step) * 5));
  --font-size--largest: calc(var(--_base) + (var(--_step) * 6));
}

.font-size--tiny {
  font-size: var(--font-size--tiny);
}

.font-size--small {
  font-size: var(--font-size--small);
}

.font-size--normal {
  font-size: var(--font-size--normal);
}

.font-size--medium {
  font-size: var(--font-size--medium);
}

.font-size--large {
  font-size: var(--font-size--large);
}

.font-size--larger {
  font-size: var(--font-size--larger);
}

.font-size--largest {
  font-size: var(--font-size--largest);
}

h1,
h2 {
  font-size: var(--font-size--medium);
}

h3,
h4,
h5,
h6 {
  font-size: var(--font-size--normal);
}

p {
  font-size: var(--font-size--normal);
}
