img,
svg {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;

  &.image-rendering\:pixelated {
    image-rendering: pixelated;
  }

  &.image-align\:center {
    margin: 0 auto;
  }

  &.max-width {
    width: auto;
  }
}
