body > header {
  grid-area: header;
  align-self: end;

  cursor: default;
  font-size: var(--font-size--small);

  & h1 {
    color: var(--text-color--primary);
    letter-spacing: -0.04em;
    line-height: 1;
    margin: 1rem auto;
    padding: 0 1rem;
    width: fit-content;
  }

  & .h-subtitle {
    font-size: var(--font-size--small);
    letter-spacing: -0.03em;
    padding-left: 0.5em;
  }

  & * {
    font-family: "Source Sans Pro", sans-serif;
  }
}

@media (--media-width--small) {
  body > header {
    font-size: var(--font-size--normal);

    & .h-subtitle {
      font-size: var(--font-size--normal);
      margin-bottom: 0.25em;
    }
  }
}

@media (--media-width--medium) {
  body > header {
    font-size: var(--font-size--large);

    & h1 {
      width: fit-content;
    }

    & .h-subtitle {
      font-size: var(--font-size--large);
    }
  }
}

@media (--media-width--large) {
  body > header {
    align-self: center;
    justify-self: end;
  }
}
