-
  // template options
  let template = {
    data: {
      page_title: "Untitled Page"
    },
    options: {
      css: true
    }
  }

block page-mixins
  include ../bits/index
  include ../elements/index
  include ../modules/index
  include ../sections/index

block page-template
  //- template architecture
  doctype html
  html(lang="en")
    head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      if helpers.options(template, "css")
        meta(name="color-scheme", content=helpers.options(template, "color_schemes"))

      meta(name="title", content="CREEATION.de")
      meta(name="description", content= helpers.data(template, "page_title"))
      meta(name="author", content=data.info.author.name)

      block page-title
        title= helpers.data(template, "page_title")

      block page-css
        block page-specific-css
        block page-global-css
          if helpers.options(template, "css")
            link(rel="stylesheet", href="../../dist/assets/css/creeation.min.css" inline)

      block page-preload-scripts
    body
      block page-pre-body
      block page-body
      block page-post-body
