//- layout
extends /src/templates/layouts/base

//- modify existing template data/options
//- preferably add your own in a layout template
//- or add page-specific data/options here
prepend page-template
  -
    //- show defaults in terminal:
    //- console.log(helpers.data(template), helpers.options(template))

    //- overwrite defaults
    helpers.data(template, {
      page_title: "CREEATION.de",
      profiles: {
        enable: false,
        data: [
          { label:"GitHub",         url: "#0" },
          { label:"CodePen",        url: "#0" },
          { label:"LinkedIn",       url: "#0" },
          { label:"Spotify",        url: "#0" },
          { label:"Steam",          url: "#0" },
          { label:"Telegram",       url: "#0" },
          { label:"Twitter",        url: "#0" },
          { label:"watched.li",     url: "#0" },
          { label:"YouTube",        url: "#0" },
          { label:"zum quadrat",    url: "#0" },
        ]
      }
    })

    helpers.options(template, {
      css: true,
      color_schemes: ["dark", "light"].join(" ")
    })

mixin page-header()
  header#page-header
    .introduction(class="color:white theme:light/color:black theme:light/bg-color:white theme:dark/border:8/green theme:light/border:8/black")
      div
        h1
          span Hello! 🐢
          | &nbsp;
          span(class="color:green theme:light/color:green_a11y") I'm Thomas

        p(class="text:large")
          span I push #[+link(href="https://github.com/creeation", class="theme:dark/color:black theme:light/color:black") code]
          | &nbsp;
          span(class="color:green theme:light/color:green_a11y") &amp;
          | &nbsp;
          span play #[+link({ color: "red",  })(href="https://steamcommunity.com/id/int_row", class="theme:dark/color:black theme:light/color:black") games]

      div(class="theme:light/bg-color:black")
        div
          img(src="../../dist/assets/images/thomas_creeten.png", class="image-rendering:pixelated image-align:center", width="170", height="170", alt="Pixel-Art Portrait of Thomas Creeten", inline)

mixin page-main()
  main#page-main
        p.
          I'm looking for a front-end development job opportunity. So, if you happen to be a recruiter (👀) feel free to
          check out my #[+link({color:"green"})(href="https://linkedin.com/in/creeten") LinkedIn profile] and get in touch.

        p.
          Alternatively, you can contact me through #[+link({color:"blue"})(href="https://t.me/creeten") Telegram] or via #[+link({color:"green", stamp: false})(href="mailto:thomas@creeation.de") thomas@creeation.de]

        p(class="text:medium bg-color:gray color:black glue:next round").
          There are a lot of features and optimizations I'm currently working on and experimenting with
          for this website which I'll list here once I've settled on priorities.

        p(class="text:medium text:narrow text:bold bg-color:red color:black text:center font:monospace round").
          In the meantime, this placeholder content has to do.<br>stay tuned 💻🐛

mixin page-footer()
  footer#page-footer
    .copyright
      img(src="../assets/images/creeation-logo.svg", class="logo:adapt image-align:center", alt="CREEATION Logo", title="CREEATION", inline)
      span(class="font:monospace") &copy; #{data.info.author.name}


block page-body
  #page
    +page-header()
    //- +page-main()

  +page-footer()
