//- layout
extends ../templates/layouts/base

//- modify existing template data and options or add your own here
prepend page-template
  -
    //- show defaults:
    //- console.log(helpers.data(template), helpers.options(template))

    helpers.data(template, {
      page_title: "UX-driven Web Development by Thomas Creeten | CREEATION.de",
    })

    helpers.options(template, {
      screenreader_intro: true,
    })

block page-pre-body-content
  form#theme-switch(data-default-theme="theme:dark")
    div: label
      input(type="radio", name="theme-switch", data-theme="theme:light")
      span light theme
    div: label
      input(type="radio", name="theme-switch", data-theme="theme:dark")
      span dark theme
    div: label
      button(type="reset") reset
    div: label
      input(type="checkbox", name="theme-switch-remember")
      span remember

  script(src="/assets/js/theme-switcher.min.js")

//- layout blocks
block page-main
  div(style=helpers.screenreader_only())
    p.
      Hello! My name is Thomas Creeten and I welcome you to my website! 🐢
      If you're hearing this, you're probably unable to see what I'd love you
      to be able to see. You might just wish to skip my blabber, in which case
      you'd simply press Tab and go explore yourself. 🕵️‍♀️

      I've crafted this website as sort of a text adventure, so you should be
      able to navigate everything without a mouse. If this doesn't work out or
      you get lost along the way, please get in touch with me so I can improve
      accessibility for everyone visiting this website.

    p(aria-label="For people looking at the source code:").
      The above is probably not what you were looking for. 🤷
      Nevertheless, I'm currently available for hire, so feel free to continue lurking around. 👀

  img(src="assets/images/thomas_creeten.png", class="filter:wash")

  h1.
    Hello fellow human!<br>
    #[+link(href="https://github.com/creeation") I write code] and love
    #[+link({ color: "red" })(href="https://www.a11yproject.com") #a11y].

  p.
    Eliminating bad #[+link({ color: "green" })(href="#") user experience] in whatever I touch is my goal.

  p.
    Thus, I've developed a focus on Interface Usability optimization.

  p.
    Follow me.

block page-footer
  img(src="assets/images/creeation-logo.svg", alt="CREEATION Logo", title="CREEATION")
