//- layout
extends /src/templates/layouts/base

//- modify existing template data/options
//- preferably add your own in a layout template
//- or add page-specific data/options here
prepend page-template
  -
    //- show defaults in terminal:
    //- console.log(helpers.data(template), helpers.options(template))

    //- overwrite defaults
    helpers.data(template, {
      page_title: "UX-driven Web Development by Thomas Creeten | CREEATION.de",
      profiles: {
        enable: false,
        data: [
          { label:"GitHub",         url: "#0" },
          { label:"CodePen",        url: "#0" },
          { label:"LinkedIn",       url: "#0" },
          { label:"Spotify",        url: "#0" },
          { label:"Steam",          url: "#0" },
          { label:"Telegram",       url: "#0" },
          { label:"Twitter",        url: "#0" },
          { label:"watched.li",     url: "#0" },
          { label:"YouTube",        url: "#0" },
          { label:"zum quadrat",    url: "#0" },
        ]
      }
    })

    helpers.options(template, {
      css: true,
      color_schemes: ["dark"].join(" ")
    })

mixin page-header()
  header#page-header
    .introduction
      div
        h1
          span(class="color:white") Hello! 🐢
          |
          |
          span(class="color:green") I'm Thomas

        p(class="text:large color:white")
          span I push #[+link(href="https://github.com/creeation") code]
          |
          |
          span &amp; love #[+link({ color: "red" })(href="https://www.a11yproject.com") #a11y].

      img(src="../../dist/assets/images/thomas_creeten.png", class="image-rendering:pixelated image-align:center", width="170", height="170", alt="Pixel-Art Portrait of Thomas Creeten", inline)

mixin page-main()
  main#page-main
        p.
          I'm looking for a front-end development job opportunity. So, if you happen to be a recruiter (👀) feel free to
          check out my #[+link({color:"green"})(href="https://linkedin.com/in/creeten") LinkedIn profile] and get in touch.

        p.
          Alternatively, you can contact me through #[+link({color:"blue"})(href="https://t.me/creeten") Telegram] or via #[+link({color:"green", stamp: false})(href="mailto:thomas@creeation.de") thomas@creeation.de]

        p(class="text:medium bg-color:gray color:black glue:next round").
          There are a lot of features and optimizations I'm currently working on and experimenting with
          for this website which I'll list here once I've settled on priorities.

        p(class="text:medium text:narrow text:bold bg-color:red color:black text:center font:monospace round").
          In the meantime, this placeholder content has to do.<br>stay tuned 💻🐛

mixin page-footer()
  footer#page-footer
    if helpers.data(template, "profiles").enable
      h2 Profiles
      ul
        each profile in helpers.data(template, "profiles").data
          li: +link(href=profile.url)= profile.label


    .copyright
      img(src="../assets/images/creeation-logo.svg", class="logo:adapt image-align:center", alt="CREEATION Logo", title="CREEATION", inline)
      span(class="font:monospace") &copy; #{new Date().getFullYear()} #{data.info.author.name}


block page-body
  #page
    +page-header()
    +page-main()

  +page-footer()

