mixin theme-switcher(options = {})
  - options = Object.assign({ themes: ["dark", "light"] }, options)
  fieldset#theme-switcher
    legend(class="display:none", aria-hidden="false")
      span(class="color:white") Color Scheme
    div
      each colorScheme, i in options.themes
        label(id=`toggle-color_scheme-${colorScheme}`, class="cursor:pointer")
          input(type="radio", name="color_scheme", value=colorScheme, checked=(i === 0), hidden)
          span
            if colorScheme === "dark"
              | 🌒
            else
              | 🌖
